/* custom fonts */
@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Bold.ttf) format('truetype');
    font-weight: bold;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.top-name {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 30px;
    color: #9CD5FF;
}

.top-button {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 15px;
    color: white;
    /* padding top right bottom left */
    padding: 8px 15px 8px 15px;
    background-color: #9CD5FF;
    border-radius: 18px;
}