/* custom fonts */
@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-Bold.ttf) format('truetype');
    font-weight: bold;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

/* for headings */
.section-header {
    color: #99C5F2;
    font-size: 60px;
    font-family: 'Inter';
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

/* for highlighted parts */
.highlight {
    font-weight: bold;
}

/* styling for navigation */
nav {
    display: flex;
    justify-content: space-between;
}
.top-name {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 30px;
    color: #9CD5FF;
}
.top-button {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 15px;
    color: white;
    /* padding top right bottom left */
    padding: 8px 15px 8px 15px;
    background-color: #9CD5FF;
    border-radius: 18px;
}

/* styling for featured photo */
.feature {
    display: flex;
    background-color: #9CD5FF;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}
.feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #e14310; */
}
.darkblue-header {
    color: #0D3982;
    font-size: 60px;
    font-family: 'Inter';
    font-weight: bold;
    margin-bottom: 0;
}
.intro {
    color: #0D3982;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: regular;
    max-width: 650px;
}
#ari {
    max-height: 435px;
}

/* styling for givecommit project */
#splash {
    max-height: 660px;
    margin-right: 40px;
}
.product-img {
    max-height: 300px;
}
.givecommit {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}
.desc-content {
    color: #0D3982;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: regular;
}
.givecommit-features {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}
.snippet {
    display: flex;
    flex-direction: column;
    background-color: #F3F6FB;
    color: black;
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/* styling for skills and autobiography section*/
.skills-and-auto {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-family: 'Inter';
    font-size: 20px;
}
.part {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
}
.sa-container {
    background-color: #C6E2FF;
    flex: 1; /* to keep both containers' sizes even */
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
}

/* styling for programming skills */
.programming-skills {
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-content: center;
    gap: 10px;
}
.icons {
    max-height: 100px;
    margin: 15px;
}
.icon-holder {
    height: 130px;
    width: 130px;
    border-radius: 60px;
    background-color: #F3F6FB;
}

/* styling for management skills */
.category {
    font-weight: bold;
    font-size: 25px;
    color: #0D3982;
    margin-bottom: 15px;
}
.date-stamp1 {
    background-color: white;
    color: #0D3982;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    padding: 5px;
    width: 140px;
}
.date-stamp2 {
    background-color: white;
    color: #0D3982;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    padding: 5px;
    width: 70px;
}
.exp-detail {
    flex: 2;
    font-size: 16px;
    color: #0D3982;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
}

/* styling for autobiography */
.autobiography {
    font-size: 18px;
    color: #0D3982;
}